<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>

  function change_volume(value) {
      $.post("/pa-system/volume_control", { "volume-direction": value})
  }
  
</script>


<html>
  <head>
    <title="Living Room Volume Control">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/volume_control.css') }}">
      
  </head>
  <body>
    <div class="button volume-up" onclick="change_volume('up')"></div>
    <div class="button volume-down" onclick="change_volume('down')"></div>
  </body>
</html>
