.button {
    margin: 40px;
    height: 400px;
    width: 320px;
}

.volume-up {
    background-image:  url(../images/volume_up.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}

.volume-down {
    background-image:  url(../images/volume_down.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}
